@import url(https://fonts.bunny.net/css?family=andika:400);

.column[aria-label="Home"] {
    width: calc(100% - 650px);
}

.column[aria-label="Home"] .status {
	display : flex ;
}

.column[aria-label="Home"] .status__info {
	display : block ;
	min-width : 250px ;
	max-width : 250px ; 
	width : 250px ;
	margin-right : 20px ;
	align-items : flex-start !important ;
}

.column[aria-label="Home"] .status__content {
	flex-grow : 1 !important ; 
}

.column[aria-label="Home"] .status__content p {
	margin-bottom : 10px ; 
}

.column[aria-label="Home"] .status__content__text p {
	font-family: 'Andika', sans-serif;
}

.column[aria-label="Home"] .status__prepend {
	padding : 8px 16px !important ; 
	font-size : 12px !important ; 
	line-height : 1 !important ;
}

.column[aria-label="Home"] .status__action-bar {
	gap : 10px !important ;
    margin-left : 15px ;
}

.column[aria-label="Home"] .status__info *, .status__info, .status__display-name strong, .status__prepend {
    color: #999 !important;
}

.column[aria-label="Home"] strong.display-name__html {
	font-size : 1em !important ;
	color : #333 !important ;
}

.column[aria-label="Home"] .status-card *, .status-card {
    max-height : 150px !important ;
}

.status__wrapper-direct {
    background-color: #ffd6dd60;
}
